In [1]:
#Parte A. Enfoque de validación

In [3]:
import pandas as pd
import numpy as np

In [5]:
# 2004 - formato Stata
df_2004 = pd.read_stata(r"C:\Users\Gustavo\Documents\GitHub\BigDataUBA-Grupo26\TP 4\t104_dta\Individual_t104.dta")

# 2024 - formato Excel
df_2024 = pd.read_excel(r"C:\Users\Gustavo\Documents\GitHub\BigDataUBA-Grupo26\TP 4\EPH_usu_1_Trim_2024_xls\EPH_usu_1er_Trim_2024_xlsx\usu_individual_T124.xlsx")

In [6]:
print(df_2024.columns.tolist())

['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH']

In [9]:
# Renombrar columnas en df_2004
df_2004 = df_2004.rename(columns={
    'ch06': 'edad',
    'nivel_ed': 'educ',
    'ch04': 'sexo',
    'cat_ocup': 'condicion_empleo',
    'p21': 'salario_semanal'
})

# Seleccionar solo las columnas necesarias
variables = ['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal']
df_2004 = df_2004[variables]
# Renombrar columnas en df_2024 para que coincidan con los nombres usados en df_2004
df_2024 = df_2024.rename(columns={
    'CH06': 'edad',
    'NIVEL_ED': 'educ',
    'CH04': 'sexo',
    'CAT_OCUP': 'condicion_empleo',
    'P21': 'salario_semanal'
})

variables = ['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal']
df_2024 = df_2024[variables]

In [11]:
print(df_2004.head())

   edad                             educ   sexo condicion_empleo  \
0  79.0            Secundaria Incompleta  Varón              0.0
1  67.0                Primaria Completa  Mujer    Cuenta propia
2  74.0                Primaria Completa  Mujer              0.0
3  54.0                Primaria Completa  Varón    Cuenta propia
4  51.0  Superior Universitaria Completa  Mujer              0.0

   salario_semanal
0              0.0
1              0.0
2              0.0
3           2000.0
4              0.0

In [13]:
print(df_2024.head())

   edad  educ  sexo  condicion_empleo  salario_semanal
0    44     3     2                 3               -9
1    22     5     2                 0                0
2     3     7     2                 0                0
3    54     4     1                 3           250000
4    53     4     2                 3           200000

In [15]:
# Renombrar columnas en df_2004
df_2004 = df_2004.rename(columns={
    'ch03': 'edad',
    'nivel_ed': 'educ',
    'ch04': 'sexo',
    'cat_ocup': 'condicion_empleo',
    'p21': 'salario_semanal'
})

# Renombrar columnas en df_2024
df_2024 = df_2024.rename(columns={
    'CH03': 'edad',
    'NIVEL_ED': 'educ',
    'CH04': 'sexo',
    'CAT_OCUP': 'condicion_empleo',
    'P21': 'salario_semanal'
})

# Variables que vamos a usar
variables = ['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal']

# Seleccionar columnas para cada dataframe
df_2004 = df_2004[variables]
df_2024 = df_2024[variables]

# Mostrar columnas para verificar
print("Columnas df_2004:", df_2004.columns.tolist())
print("Columnas df_2024:", df_2024.columns.tolist())

Columnas df_2004: ['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal']
Columnas df_2024: ['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal']

In [27]:
def crear_variables(df):
    df = df.copy()

    # Edad
    if 'CH06' in df.columns:
        edad_col = 'CH06'
    elif 'ch06' in df.columns:
        edad_col = 'ch06'
    else:
        edad_col = None

    if edad_col:
        if pd.api.types.is_categorical_dtype(df[edad_col]):
            df['edad'] = pd.to_numeric(df[edad_col].astype(str), errors='coerce')
        else:
            df['edad'] = pd.to_numeric(df[edad_col], errors='coerce')

    # Sexo
    if 'CH04' in df.columns:
        sexo_col = 'CH04'
    elif 'ch04' in df.columns:
        sexo_col = 'ch04'
    else:
        sexo_col = None

    if sexo_col:
        df['sexo'] = pd.to_numeric(df[sexo_col], errors='coerce')

    # Educación
    if 'NIVEL_ED' in df.columns:
        educ_col = 'NIVEL_ED'
    elif 'nivel_ed' in df.columns:
        educ_col = 'nivel_ed'
    else:
        educ_col = None

    if educ_col:
        df['educ'] = pd.to_numeric(df[educ_col], errors='coerce')

    # Condición de empleo
    if 'ESTADO' in df.columns:
        df['condicion_empleo'] = df['ESTADO']
    elif 'estado' in df.columns:
        df['condicion_empleo'] = df['estado']

    # Salario semanal
    if 'P21' in df.columns:
        df['salario_semanal'] = pd.to_numeric(df['P21'], errors='coerce')
    elif 'p21' in df.columns:
        df['salario_semanal'] = pd.to_numeric(df['p21'], errors='coerce')

    # Variables derivadas
    df['edad2'] = df['edad'] ** 2
    df['mujer'] = df['sexo'].apply(lambda x: 1 if x == 2 else 0)
    df['educ_alta'] = (df['educ'] > 12).astype(int)

    return df

In [29]:
type(df_2004['CH06'])  # o ch06, según el nombre en tu dataset

KeyError: 'CH06'

In [31]:
print(df_2004.columns.tolist())

['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal']

In [33]:
df_2024.columns.tolist()

['edad',
 'educ',
 'sexo',
 'condicion_empleo',
 'salario_semanal',
 'edad2',
 'mujer',
 'educ_alta']

In [39]:
def crear_variables(df):
    df = df.copy()
    
    # Convertir columnas a numéricas (puede haber valores no numéricos, que se vuelven NaN)
    df['edad'] = pd.to_numeric(df['edad'], errors='coerce')
    df['sexo'] = pd.to_numeric(df['sexo'], errors='coerce')
    df['educ'] = pd.to_numeric(df['educ'], errors='coerce')
    
    # Crear salario_semanal si no existe, a partir de 'p21' (ejemplo)
    if 'salario_semanal' not in df.columns:
        if 'p21' in df.columns:
            df['salario_semanal'] = pd.to_numeric(df['p21'], errors='coerce')
        else:
            df['salario_semanal'] = None  # O lo que corresponda según tu caso
    
    # Variables derivadas
    df['edad2'] = df['edad'] ** 2
    df['mujer'] = df['sexo'].apply(lambda x: 1 if x == 2 else 0)
    df['educ_alta'] = (df['educ'] > 12).astype(int)
    
    return df

In [41]:
df_2024 = crear_variables(df_2024)
df_2004 = crear_variables(df_2004)

In [45]:
def crear_variables(df):
    df = df.copy()
    # Convertir edad y educ a numérico (por si acaso vienen como categorical)
    df['edad'] = pd.to_numeric(df['edad'], errors='coerce')
    df['educ'] = pd.to_numeric(df['educ'], errors='coerce')
    
    df['edad2'] = df['edad'] ** 2
    df['mujer'] = df['sexo'].apply(lambda x: 1 if x == 2 else 0)
    df['educ_alta'] = (df['educ'] > 12).astype(int)
    return df

In [49]:
print(df_2004.head())
print(df_2004.columns)

Empty DataFrame
Columns: [edad, educ, sexo, condicion_empleo, salario_semanal, desocupado]
Index: []
Index(['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal',
       'desocupado'],
      dtype='object')

In [55]:
df_2004 = df_2004.rename(columns={
    'ch06': 'edad',   # <- puede que esta sea la correcta, revisar
    'ch04': 'sexo',
    'ch06': 'educ',
    'estado': 'condicion_empleo',
    'p21': 'salario_semanal'
})

In [67]:
print(df_2004.columns)

Index(['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal',
       'desocupado'],
      dtype='object')

In [47]:
print(df_2004['edad'].dtype)
print(df_2004['edad'].head())

category
Series([], Name: edad, dtype: category
Categories (10, object): ['Jefe' < 'Cónyuge/Pareja' < 'Hijo/Hijastro' < 'Yerno/Nuera' ... 'Suegro' < 'Hermano' < 'Otros familiares' < 'No familiares'])

In [19]:
import pandas as pd
import numpy as np

# Cargar datasets
df_2024 = pd.read_excel(r"C:\Users\Gustavo\Documents\GitHub\BigDataUBA-Grupo26\TP 4\EPH_usu_1_Trim_2024_xls\EPH_usu_1er_Trim_2024_xlsx\usu_individual_T124.xlsx")
df_2004 = pd.read_stata(r"C:\Users\Gustavo\Documents\GitHub\BigDataUBA-Grupo26\TP 4\t104_dta\Individual_t104.dta")

# Convertir columnas del 2004 a minúsculas
df_2004.columns = df_2004.columns.str.lower()

# Mostrar columnas
print("Columnas df_2024:", df_2024.columns.tolist())
print("Columnas df_2004:", df_2004.columns.tolist())

# Filtrar Mar del Plata (código 34)
df_2024 = df_2024[df_2024['REGION'] == 34]
df_2004 = df_2004[df_2004['region'] == 34]

# Renombrar columnas importantes
df_2024 = df_2024.rename(columns={
    'CH06': 'edad',
    'CH04': 'sexo',
    'NIVEL_ED': 'educ',
    'ESTADO': 'condicion_empleo',
    'P21': 'salario_semanal'
})

df_2004 = df_2004.rename(columns={
    'ch06': 'edad',
    'ch04': 'sexo',
    'nivel_ed': 'educ',
    'estado': 'condicion_empleo',
    'p21': 'salario_semanal'
})

# Variables que necesitás
variables_necesarias = ['edad', 'educ', 'sexo', 'condicion_empleo', 'salario_semanal']

# Filtrar esas columnas
df_2024 = df_2024[variables_necesarias]
df_2004 = df_2004[variables_necesarias]

# Variable 'desocupado'
def crear_desocupado(df):
    df = df.copy()
    df['desocupado'] = df['condicion_empleo'].apply(
        lambda x: 1 if x == 2 else (0 if x == 1 else np.nan)
    )
    return df

df_2024 = crear_desocupado(df_2024)
df_2004 = crear_desocupado(df_2004)

# Variables adicionales
def crear_variables(df):
    df = df.copy()
    df['edad2'] = df['edad'] ** 2
    df['mujer'] = df['sexo'].apply(lambda x: 1 if x == 2 else 0)
    df['educ_alta'] = (df['educ'] > 12).astype(int)
    return df

df_2024 = crear_variables(df_2024)
df_2004 = crear_variables(df_2004)

# Filtrar salarios válidos
df_2024 = df_2024[df_2024['salario_semanal'] > 0]
df_2004 = df_2004[df_2004['salario_semanal'] > 0]

# Separar respondieron / no respondieron
respondieron_2024 = df_2024.dropna(subset=['desocupado'])
norespondieron_2024 = df_2024[df_2024['desocupado'].isna()]

respondieron_2004 = df_2004.dropna(subset=['desocupado'])
norespondieron_2004 = df_2004[df_2004['desocupado'].isna()]

# Mensajes de control
print(f"Respondieron 2024: {respondieron_2024.shape[0]} filas")
print(f"No respondieron 2024: {norespondieron_2024.shape[0]} filas")
print(f"Respondieron 2004: {respondieron_2004.shape[0]} filas")
print(f"No respondieron 2004: {norespondieron_2004.shape[0]} filas")

Columnas df_2024: ['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH']
Columnas df_2004: ['codusu', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre', 'region', 'mas_500', 'aglomerado', 'pondera', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch14', 'ch15', 'ch15_cod', 'ch16', 'ch16_cod', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'p21', 'decocur', 'idecocur', 'rdecocur', 'gdecocur', 'pdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'idecindr', 'rdecindr', 'gdecindr', 'pdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'itf', 'decifr', 'idecifr', 'rdecifr', 'gdecifr', 'pdecifr', 'adecifr', 'ipcf', 'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp']

TypeError: unsupported operand type(s) for ** or pow(): 'Categorical' and 'int'

In [17]:
#Parte B. Metodo Supervisado 1: Modelo de Regresión Lineal

In [ ]:
#Parte C. Métodos de Clasificación y Performance